nav.navbar.navbar-default {
    margin-bottom: 0;
}

.navbar {
    background-color: #FFCA4F;
}

.navbar-brand, .nav-item a {
    font-family: 'Rubik', sans-serif;
    color: #fff;
}

.navbar-brand {
    color: #21D0C2;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #21D0C2
}

.nav-item a:hover {
    color: #FF5C62;
}

.active {
    color: #FF5C62;
}
